<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Group 6</title>

    <!-- external CSS files-->
    <link rel="stylesheet" type="text/css" href="../static/css/interface.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/map.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/slider.css" />
    <link rel="stylesheet" href="../static/css/leaflet.css" />

    <!-- external CSS url for sliders-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />

    <!-- external JavaScript -->
    <script src="../static/js/leaflet.js" charset="utf-8"></script>

    <!-- European Map json -->
    <script src="../static/europe.geojson" type="text/javascript"></script>
    <script src="../static/europe31_withid.geojson" type="text/javascript"></script>
    
    <!-- D3 package -->
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>

<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script> -->
    
    <!-- Color scale -->
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

</head>


<body>
<!--外围边框 -->
<div class="box">
    <!-- 标题栏 -->
    <div class="title">
        Your Best Country to Retire
    </div>

    <!-- 内容区 -->
    <div class="content">
        <!-- 左侧区域 -->
        <div class="left-box">

            
            <!-- Sliders -->
            <div style="margin-top: 10px;">
                 <p>Indicator Weight Control</p>
                 <div style="display: flex;margin-top: 10px;">
                     <div class="slidecontainer">
                         <p>GDP</p>
                         <input type="range" min="1" max="100" value="50" class="slider" id="sGDP" name=gdp oninput="sGDPout.value = this.value" onchange="updatepie()">
                         <output id = "sGDPout">50</output>

                         <p>Percentage of English Speaker</p>
                         <input type="range" min="1" max="100" value="50" class="slider" id="sEnSp" name=eng oninput="sEnspout.value = this.value" onchange="updatepie()">
                         <output id = "sEnspout">50</output>

                         <p>Forest cover rate</p>
                         <input type="range" min="1" max="100" value="50" class="slider" id="sForest" name=forest oninput="sForestout.value = this.value" onchange="updatepie()">
                         <output id = "sForestout">50</output>
                     </div>
                     <div class="slidecontainer" style="margin-left: 10px;">
                         <p>Population density</p>
                         <input type="range" min="1" max="100" value="50" class="slider" id="sPop" name=pop oninput="sPopout.value = this.value" onchange="updatepie()">
                         <output id = "sPopout">50</output>
                         <p>Education</p>
                         <input type="range" min="1" max="100" value="50" class="slider" id="sEdu" name=edu oninput="sEduout.value = this.value" onchange="updatepie()">
                         <output id = "sEduout">50</output>
                         <p>Air quality</p>
                         <input type="range" min="1" max="100" value="50" class="slider" id="sAir" name=air oninput="sAirout.value = this.value" onchange="updatepie()">
                         <output id = "sAirout">50</output>
                     </div>
                     
                 </div>
              
            </div>
            <!-- Submit Button -->
            <div style="text-align: center;">
                <button type="button" class="btn btn-success" id="submitB" style="width: 200px;">Submit</button>
            </div>
            <!-- 饼图 -->
            <div  id="donut-chart" style="border-top: 1px solid #A5a5a5; margin-top: 20px;"> 
                <p style = "margin-top: 20px;">Indicator Weighted Condition</p>
                <script src="../static/js/piechart2.js" type="text/javascript" ></script>     
            </div>
            

            
        </div>

        <!-- 地图区域 -->
        <div id="mapid">
            <script src="../static/js/map.js" type="text/javascript" ></script>
        </div>

        <!-- 右侧区域 -->
        <div class="right-box">
            <p style="padding: 10px 0px 0px 10px;">Result score</p>
            <div  id="barchart" >
                 <script src="../static/js/d3bar.js" type="text/javascript" ></script>
            </div>
        </div>
    </div>    
</div>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type=text/javascript>
      $(function() {
        $('#submitB').bind('click', function() {
          $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
            a: $('input[name="gdp"]').val(),
            b: $('input[name="eng"]').val(),
            c: $('input[name="pop"]').val(),
            d: $('input[name="edu"]').val(),

          }, function(data) {
            resultArray = data.result;
            updatePlotMap(resultArray);
            updatePlotBar(resultArray);
            console.log(data.result);
          });
          return false;
        });
      });
    </script>

</body>

</html>
